*.pyc
*.log
ngrok
!lib/README.md
.DS_Store
google/
lib/
archive
temp/
transcribe/
.idea/
ideas/
.ipynb_checkpoints
log/
model_data/
data/
nohup.out
dump.rdb
*.out
*.zip
.idea/*
.env
venv/
test.json
__pycache__
__pycache__/*
*/__pycache__
zappa_settings.py
.vscode